body {
   color: #544738;
   font-family: helvetica, sans-serif;
}
#instruction{
	float: left;
	color: red;
}
ul li {
    float: left;
    list-style: none;
    margin-right: 1em;
}
 
li a {
    color: #544738;
    text-decoration: none;
    float: left;
    font-size: 25px;
    padding: 12px;
}
 
li a:hover {
    color: #7eb9be;
}

